{% extends 'base.html' %}
{% block title %} Artist Center {% endblock %}
{% block script %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/artistcenter.css' %}">
    {% block artistcenter_script %}
    {% endblock %}
{% endblock %}
{% block body %}
<section class="content">
    <div class="box bg-1">
        <a href="/artistcenter"><button class="button button--ujarak">마이페이지</button></a>
        <a href="/artistcenter/artist/product/list"><button class="button button--ujarak">작품 목록</button></a>
        <a href="/artistcenter/exhibit/list"><button class="button button--ujarak">전시 목록</button></a>
    </div>
</section>
    {% block content %}
    {% endblock %}
{% endblock %}